.book {
	padding-top: 87.5px;
	padding-bottom: 95px;
	&__title {
		text-align: center;
		margin-bottom: 24.5px;
	}
	&__text {
		font-size: 14px;
		line-height: 1.857;
		text-align: center;
		width: 62%;
		margin: 0 auto;
		font-weight: normal;
	}
	&-form {
		display: flex;
		flex-wrap: wrap;
		padding: 43px 0px 0px;
		@include laptops {
			justify-content: center;
		}
		&__submit {
			margin: 0 auto;
		}
		&__textarea {
			min-height: 126px;
			width: 100%;
			border: 0;
			border-bottom: 1px solid #c7d1d6;
			margin-bottom: 37.5px;
			padding: 6px 20px 0px 40px;
			resize: none;
			&::placeholder {
				color: #363d43;
				font-weight: normal;
				letter-spacing: 0.5px;
				font-family: "Sintony";
			}
			&:hover, &:focus {
				border-color: transparent;
				border-bottom-color: #000;
				color: #000;
			}
			&-wrapper {
				width: 100%;
				position: relative;
			}
			&-icon {
				margin-top: -5px;
			}
		}
		&__input {
			padding-bottom: 14.5px;
			padding-top: 14px;
			padding-top: -2.5px;
			width: 100%;
			border: none;
			background-color: transparent;
			height: 42px;
			border-bottom: 1px solid #c7d1d6;
			padding-left: 41px;
			margin-bottom: 30px;
			&::placeholder {
				color: #363d43;
				font-weight: normal;
				letter-spacing: 0.5px;
			}
			&:hover, &:focus {
				border-color: transparent;
				border-bottom-color: #000;
				color: #000;
			}
			&-wrapper {
				position: relative;
				margin-right: 30px;
				width: calc(33.333% - 20px);
				@include laptops {
					margin: 0px 15px;
				}
				&:nth-child(3n) {
					margin-right: 0px;
					@include laptops {
						margin-right: 15px;
					}
				}
			}
		}
		&__icon {
			position: absolute;
			left: 0;
			top: 10px;
		}
		&__submit {
			padding: 17px 28px;
			@include tablets {
				margin: 0 auto;
				margin-bottom: 30px;
			}
		}
	}
}