header#header-wrapper
	.container
		.header
			a(href="index.html").header-logo
				img(src="./img/header/logo.png").header-logo__img
			nav.header-navigation
				ul.header-navigation__list
					li.header-navigation__item
						a(href="index.html").header-navigation__link Home
					li.header-navigation__item
						a(href="menu.html").header-navigation__link Menu
					li.header-navigation__item
						a(href="shop.html").header-navigation__link Our products
					li.header-navigation__item
						a(href="gallery.html").header-navigation__link Gallery
					li.header-navigation__item
						a(href="about-us.html").header-navigation__link About us
			.header-cart#dropdown
				a(href="checkout.html").header-cart__img
					img(src="./img/header/icon-cart.png")
					.header-cart__counter 3
				i.fa.fa-caret-down.header-cart__icon
			button.header-button
				a(href="reservation.html").header-button__white-border
					img(src="./img/header/icon-plate.png").header-button__icon
					| Book your table
