.speciality
	.container
		.speciality-left
			img(src="./img/speciality/speciality-left.jpg").speciality-left__img
		.speciality-right
			h2.medium-title.speciality-right__main-title Speciality
			ul.speciality-right__list
				li.speciality-right__item
					h3.speciality-right__under-title Excellent service
					.speciality-right__text Survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
				li.speciality-right__item
					h3.speciality-right__under-title free home delivery
					.speciality-right__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				li.speciality-right__item
					h3.speciality-right__under-title cool atmosphere
					.speciality-right__text Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
