.description-wrapper
	.container
		.description
			.description__titles
				h3.description__title-main Description
				h3.description__title_black Reviews (03)
			.description__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
			ul.description__list
				li.description__item
					| Duis vitae orci in urna commodo mollis.
				li.description__item
					| Ut sit amet sem ut dui bibendum blandit non finibus enim.
				li.description__item
					| Cras convallis tellus ultrices, dictum nisl in, suscipit neque.