.products-wrapper
	.container
		.products
			.products-left
				img(src="./img/shop-details/product-main.jpg").products-left__img
				i.fa.fa-search-plus.products-left__zoom
			.products-right
				h2.medium-title.products-right__title Green mung beans
				a(href="#").products-right__like
					.products-right__counter 5
					img(src="./img/shop-details/star-icon.png").products-right__star-icon
				.products-right__reviews ( 03 Reviews )
				.products-right__price
					span.products-right__price-sale $150
					| $100
				.products-right__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.
				form(method="POST" action="https://peaceful-island-78575.herokuapp.com/api").products-form
					.products-form__input-wrapper
						input.products-form__input#product-counter(type="numbers" name="counter" value="1" readonly)
						i.fa.fa-minus.products-form__icon.products-form__minus-icon#minus
						i.fa.fa-plus.products-form__icon.products-form__plus-icon#plus
					button.products-form__center-button add to cart
					button.products-form__right-button buy now

