.related
	.container
		h2.medium-title.related__title Related Products
		.product__list
			+product("Heilroom Bean", "100$", "$120", "5", "1")
			+product("Green Mung Beans", "$1000", "$1250", "7", "2")
			+product("laird green ientils", "", "$654", "2", "3")
			+product("Fava bean", "$90", "$100", "12", "4")