// colors

$orange: #fea100;
$black: #14141d;
$f-gray: #adb2b7;
$pink: #fe4c8d;
$banner-b: #dde3e7;

// Basic stylesheets

@import "./misc.scss";
@import "./tags.scss";
@import "./style.scss";

// Common block

@import "./blocks/header.scss";
@import "./blocks/footer.scss";

// Style for mixins

@import "./mixins/banner.scss";
@import "./mixins/menu-block.scss";
@import "./mixins/hours.scss";
@import "./mixins/speciality.scss";

// Styles for pages

@import "./pages/index.scss";
@import "./pages/about-us.scss";
@import "./pages/reservation.scss";
@import "./pages/shop.scss";
@import "./pages/checkout.scss";
@import "./pages/contact-us.scss";
@import "./pages/shop-details.scss";
@import "./pages/gallery.scss";

