// colors

$orange: #fea100;
$black: #14141d;
$f-gray: #adb2b7;
$pink: #fe4c8d;
$banner-b: #dde3e7;

// Basic stylesheets

@import "./misc.scss";
@import "./tags.scss";
@import "./style.scss";

// Common block

@import "./blocks/header.scss";
@import "./blocks/footer.scss";

// Home Page

@import "./blocks/HomePage/banner.scss";
@import "./blocks/HomePage/about.scss";
@import "./blocks/HomePage/special.scss";
