@font-face {
	font-family: 'Sintony';
	src: url('fonts/Sintony.eot');
	src: url('fonts/Sintony.eot?#iefix') format('embedded-opentype'),
		url('fonts/Sintony.woff2') format('woff2'),
		url('fonts/Sintony.woff') format('woff'),
		url('fonts/Sintony.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Sintony';
	src: url('fonts/Sintony-Bold.eot');
	src: url('fonts/Sintony-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/Sintony-Bold.woff2') format('woff2'),
		url('fonts/Sintony-Bold.woff') format('woff'),
		url('fonts/Sintony-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'fonts/Playfair Display';
	src: url('fonts/PlayfairDisplay-Bold.eot');
	src: url('fonts/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
		url('fonts/PlayfairDisplay-Bold.woff') format('woff'),
		url('fonts/PlayfairDisplay-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'fonts/Playfair Display';
	src: url('fonts/PlayfairDisplay-Black.eot');
	src: url('fonts/PlayfairDisplay-Black.eot?#iefix') format('embedded-opentype'),
		url('fonts/PlayfairDisplay-Black.woff2') format('woff2'),
		url('fonts/PlayfairDisplay-Black.woff') format('woff'),
		url('fonts/PlayfairDisplay-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'fonts/Playfair Display';
	src: url('fonts/PlayfairDisplay-Regular.eot');
	src: url('fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
		url('fonts/PlayfairDisplay-Regular.woff') format('woff'),
		url('fonts/PlayfairDisplay-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.content {
	flex: 1 0 auto;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
	@include laptops {
		width: 100%;
		margin: 0 auto;
		padding: 0px 30px;
	}

	@include tablets {
		margin: 0 auto;
		padding: 0px 20px;
	}

	@include phones {
		margin: 0 auto;
		padding: 0px 10px;
	}
}

.Home-Page {
	&__phone {
		font-size: 34.5px;
		letter-spacing: 1px;
		font-family: "PlayfairDisplay";
		color: $black;
		text-transform: uppercase;
		border-left: 1px solid $banner-b;
		margin-left: 3px;
		position: relative;
		padding-left: 19px;
		letter-spacing: 1.6px;
		&_smaller {
			font-size: 28px;
			letter-spacing: 1.4px;
		}
		&_smallest {
			font-size: 24px;
    		letter-spacing: 2.5px;
		}
	}
}

.bottom {
	&-info {
		padding: 12px 46px 22px;
		display: flex;
		justify-content: space-between;
		&__title {
			color: $black;
			text-transform: uppercase;
			line-height: 1.308;
			&_pink {
				color: $pink;
			}
		}
	}
}

.main-title {
	font-size: 56px;
	font-family: "Playfair Display";
	color: #fff;
	font-weight: bold;
	letter-spacing: 1.3px;
	@include laptops {
		font-size: 48px;
	}
	@include tablets {
		font-size: 36px;
	}
	@include phones {
		font-size: 28px;
	}
}

.medium-title {
	font-size: 35px;
	font-family: "Playfair Display";
	color: $black;
	font-weight: bold;
	letter-spacing: 1px;
	&_white {
		color: #fff;
	}
	&_orange {
		color: $orange;
	}
	@include laptops {
		font-size: 30px;
	}
	@include tablets {
		font-size: 25px;
	}
	@include phones {
		font-size: 20px;
	}
}