@font-face {
	font-family: 'Sintony';
	src: url('fonts/Sintony.eot');
	src: url('fonts/Sintony.eot?#iefix') format('embedded-opentype'),
		url('fonts/Sintony.woff2') format('woff2'),
		url('fonts/Sintony.woff') format('woff'),
		url('fonts/Sintony.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Sintony';
	src: url('fonts/Sintony-Bold.eot');
	src: url('fonts/Sintony-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/Sintony-Bold.woff2') format('woff2'),
		url('fonts/Sintony-Bold.woff') format('woff'),
		url('fonts/Sintony-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('fonts/PlayfairDisplay-Bold.eot');
	src: url('fonts/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
		url('fonts/PlayfairDisplay-Bold.woff') format('woff'),
		url('fonts/PlayfairDisplay-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('fonts/PlayfairDisplay-Black.eot');
	src: url('fonts/PlayfairDisplay-Black.eot?#iefix') format('embedded-opentype'),
		url('fonts/PlayfairDisplay-Black.woff2') format('woff2'),
		url('fonts/PlayfairDisplay-Black.woff') format('woff'),
		url('fonts/PlayfairDisplay-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('fonts/PlayfairDisplay-Regular.eot');
	src: url('fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
		url('fonts/PlayfairDisplay-Regular.woff') format('woff'),
		url('fonts/PlayfairDisplay-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.content {
	flex: 1 0 auto;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
	@include laptops {
		width: 100%;
		margin: 0 auto;
		padding: 0px 30px;
	}
	@include tablets {
		margin: 0 auto;
		padding: 0px 20px;
	}
	@include phones {
		margin: 0 auto;
		padding: 0px 10px;
	}
}

.slick-dotted.slick-slider {
	margin-bottom: 0px;
}

.main-title {
	font-size: 56px;
	font-family: "Playfair Display";
	color: #fff;
	font-weight: bold;
	@include laptops {
		font-size: 48px;
	}
	@include tablets {
		font-size: 36px;
	}
	@include phones {
		font-size: 28px;
	}
}

.medium-title {
	font-size: 35px;
	font-family: "Playfair Display";
	color: $black;
	font-weight: bold;
	&_white {
		color: #fff;
	}
	&_orange {
		color: $orange;
	}
	@include laptops {
		font-size: 30px;
	}
	@include tablets {
		font-size: 25px;
	}
	@include phones {
		font-size: 20px;
	}
}