@font-face {
	font-family: 'Sintony';
	src: url('fonts/Sintony.eot');
	src: url('fonts/Sintony.eot?#iefix') format('embedded-opentype'),
		url('fonts/Sintony.woff2') format('woff2'),
		url('fonts/Sintony.woff') format('woff'),
		url('fonts/Sintony.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Sintony';
	src: url('fonts/Sintony-Bold.eot');
	src: url('fonts/Sintony-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/Sintony-Bold.woff2') format('woff2'),
		url('fonts/Sintony-Bold.woff') format('woff'),
		url('fonts/Sintony-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'fonts/Playfair Display';
	src: url('fonts/PlayfairDisplay-Bold.eot');
	src: url('fonts/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
		url('fonts/PlayfairDisplay-Bold.woff') format('woff'),
		url('fonts/PlayfairDisplay-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'fonts/Playfair Display';
	src: url('fonts/PlayfairDisplay-Black.eot');
	src: url('fonts/PlayfairDisplay-Black.eot?#iefix') format('embedded-opentype'),
		url('fonts/PlayfairDisplay-Black.woff2') format('woff2'),
		url('fonts/PlayfairDisplay-Black.woff') format('woff'),
		url('fonts/PlayfairDisplay-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'fonts/Playfair Display';
	src: url('fonts/PlayfairDisplay-Regular.eot');
	src: url('fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
		url('fonts/PlayfairDisplay-Regular.woff') format('woff'),
		url('fonts/PlayfairDisplay-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.content {
	flex: 1 0 auto;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
	@include laptops {
		width: 100%;
		margin: 0 auto;
		padding: 0px 30px;
	}

	@include tablets {
		margin: 0 auto;
		padding: 0px 20px;
	}

	@include phones {
		margin: 0 auto;
		padding: 0px 10px;
	}
}

.main-title {
	font-size: 56px;
	font-family: "Playfair Display";
	color: #fff;
	font-weight: bold;
	letter-spacing: 1.3px;
	@include laptops {
		font-size: 48px;
	}
	@include tablets {
		font-size: 36px;
	}
	@include phones {
		font-size: 28px;
	}
}

.medium-title {
	font-size: 35px;
	font-family: "Playfair Display";
	color: $black;
	font-weight: bold;
	letter-spacing: 1px;
	&_white {
		color: #fff;
	}
	&_orange {
		color: $orange;
	}
	@include laptops {
		font-size: 30px;
	}
	@include tablets {
		font-size: 25px;
	}
	@include phones {
		font-size: 20px;
	}
}

.my-dots {
	position: absolute;
	bottom: -50px;
	display: block;
	width: 0%;
	padding: 0;
	list-style: none;
	text-align: center;
	margin-left: 5px;
	left: -94px;
	top: 27.4%;
}

.my-dots li {
	position: relative;
	display: inline-block;
	width: 25px;
	height: 18px;
	padding: 0;
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.my-dots li button {
	font-size: 0;
	line-height: 0;
	display: block;
	width: 20px;
	height: 20px;
	padding: 5px;
	cursor: pointer;
	color: transparent;
	border: 0;
	outline: none;
	background: transparent;
}

.my-dots li button:hover,
.my-dots li button:focus {
	outline: none;
}

.my-dots li button:hover:before,
.my-dots li button:focus:before {
	opacity: 1;
}
.slick-dotted.slick-slider {
	margin-bottom: 0px;
}

.my-dots li button:before {
	font-family: 'slick';
	font-size: 6px;
	line-height: 20px;
	position: absolute;
	top: 100px;
	left: 100px;
	width: 14px;
	height: 14px;
	content: '•';
	border-radius: 50%;
	background-color: transparent;
	border: 2px solid #fff;
	text-align: center;
	opacity: 1;
	color: black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.my-dots li.slick-active button:before {
	opacity: 1;
	background-color: transparent;
	color: black;
	border-color: $orange;
}