*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	color: #5c6369;
	font-family: 'Sintony';
	font-weight: bold;
	font-size: 14px;
}

body {
	display: flex;
	flex-direction: column;
}

footer {
	font-weight: normal;
}

p {
	font-weight: normal;
}

body {
	line-height: 1.42;
}

a {
	transition: 300ms;
	text-decoration: none;
	color: $black;
	&:hover, &:focus {
		color: $orange;
		border-bottom-color: $orange;
	}
}

input {
	transition: 0.7s;
}

textarea {
	transition: 0.7s;
}

ul {
	margin: 0px;
	padding: 0px;
}

li {
	margin: 0;
	padding: 0;
}

button {
	margin: 0;
	transition: 300ms;
	padding: 0;
	outline: none;
	border-style: none;
	display: block;
	cursor: pointer;
	border-radius: 4px;
	background-color: $orange;
	color: #fff;
	font-size: 14px;
	text-align: center;
	font-family: "Sintony";
	text-transform: uppercase;
	font-weight: bold;
	padding: 17px 34px;
	font-weight: 700;
	letter-spacing: 0.6px;
	&:hover, &:focus {
		background-color: $pink;
	}
	@include laptops {
		font-size: 13.5px;
		padding: 16px 32px;
	}
	@include tablets {
		font-size: 13px;
		padding: 15px 30px;
	}
	@include phones {
		font-size: 12px;
		padding: 15px 20px;
	}
}

label[for]{cursor:pointer;}
input~label{cursor:pointer;}
input {
	outline:none;
	color: $f-gray;
}
textarea {
	outline:none;
	color: $f-gray;
	resize: none;
}

input[type=checkbox], input[type=radio] {display: none;}
input[type=checkbox] + label:before {
	content: "\2713";
	color: transparent;
	display: inline-block;
	border: 1px solid #c7d1d6;
	font-size: 20px;
	margin: -5px 10px 0 0;
	height: 30px;
	width: 30px;
	text-align: center;
	vertical-align: middle;
	transition: color ease .3s;
}

input[type=checkbox]:checked + label:before {
	color: $orange;
}

input[type=radio] + label:before {
	content: "\2713";
	border: 1px solid #fff;
	background-color: #fff;
	border-radius: 50%;
	display: inline-block;
	margin: -5px 18px 0 0;
	height: 24px;
	width: 24px;
	text-align: center;
	vertical-align: middle;
	font-size: 0;
	transition: font-size ease .3s;
}
input[type=radio]:checked + label:before {
	line-height: 22px;
	font-size: 14px;
	color: #fe4c8d;
}



