.speciality {
	position: relative;
	@extend %clearfix;
	padding-bottom: 54px;
	@include tablets {
		padding-bottom: 20px;
	}
	@include phones {
		padding-bottom: 10px;
	}
	&-left {
		float: left;
		width: 50%;
		height: 300px;
		position: relative;
		@include tablets {
			padding-top: 30px;
			width: 100%;
			margin: 0 auto;
			height: auto;
		}
		&__img {
			position: absolute;
			right: 55px;
			@include laptops {
				max-width: 100%;
				right: 25px;
			}
			@include tablets {
				right: 0px;
				position: static;
			}
		}
	}
	&-right {
		float: left;
		width: 50%;
		padding-left: 70px;
		padding-top: 85px;
		padding-left: 14px;
		position: relative;
		@include laptops {
			padding-top: 50px;
		}
		@include tablets {
			width: 100%;
			padding-top: 40px;
		}
		@include phones {
			padding-top: 25px;
		}
		&__list {
			@extend %list;
		}
		&__main-title {
			margin-bottom: 31px;
		}
		&__under-title {
			font-size: 15px;
			color: $black;
			text-transform: uppercase;
			margin-bottom: 6px;
			@include tablets {
				font-size: 14px;
			}
			@include phones {
				font-size: 13px;
			}
		}
		&__text {
			line-height: 1.857;
			text-align: left;
			letter-spacing: -0.1px;
			@include tablets {
				font-size: 13px;
			}
			@include phones {
				font-size: 12.5px;
			}
		}
		&__item {
			margin-bottom: 39px;
			@include tablets {
				margin-bottom: 30px;
			}
			@include phones {
				margin-bottom: 20px;
			}
		}
		&__img {
			display: block;
			&-wrapper {
				position: absolute;
				right: 0;
			}
			@include tablets {
				display: none;
			}
		}
	}
}