ul.gallery-img__list
	li.gallery-img__item.gallery-img__all
		.macy-container
			img(src="./img/gallery/gallery-restaurant-item1.jpg").gallery-img__img
			img(src="./img/gallery/gallery-restaurant-item2.jpg").gallery-img__img
			img(src="./img/gallery/gallery-restaurant-item3.jpg").gallery-img__img
			img(src="./img/gallery/gallery-restaurant-item4.jpg").gallery-img__img
			img(src="./img/gallery/gallery-food-item5.jpg").gallery-img__img
			img(src="./img/gallery/gallery-food-item6.jpg").gallery-img__img
			img(src="./img/gallery/gallery-dessert-item7.jpg").gallery-img__img
			img(src="./img/gallery/gallery-dessert-item8.jpg").gallery-img__img
			img(src="./img/gallery/gallery-dessert-item9.jpg").gallery-img__img
			img(src="./img/gallery/gallery-dessert-item10.jpg").gallery-img__img
	li.gallery-img__item.gallery-img__restaurant
		.macy-container
			img(src="./img/gallery/gallery-restaurant-item1.jpg").gallery-img__img
			img(src="./img/gallery/gallery-restaurant-item2.jpg").gallery-img__img
			img(src="./img/gallery/gallery-restaurant-item3.jpg").gallery-img__img
			img(src="./img/gallery/gallery-restaurant-item4.jpg").gallery-img__img
	li.gallery-img__item.gallery-img__food
		.macy-container
			img(src="./img/gallery/gallery-food-item5.jpg").gallery-img__img
			img(src="./img/gallery/gallery-food-item6.jpg").gallery-img__img
	li.gallery-img__item.gallery-img__dessert
		.macy-container
			img(src="./img/gallery/gallery-dessert-item10.jpg").gallery-img__img
			img(src="./img/gallery/gallery-dessert-item9.jpg").gallery-img__img
			img(src="./img/gallery/gallery-dessert-item8.jpg").gallery-img__img
			img(src="./img/gallery/gallery-dessert-item7.jpg").gallery-img__img