.gallery-wrapper
	img(src="./img/gallery/gallery-left.jpg").gallery-wrapper__img
	.container
		.gallery
			h2.medium-title.gallery__title Our Gallery
			ul.gallery__list
				li.gallery__item
					a(href="#").gallery__link
						.gallery__icon.gallery__icon-all
						.gallery__text All photos
				li.gallery__item
					a(href="#").gallery__link
						.gallery__icon.gallery__icon-restaurant
						.gallery__text Restaurant
				li.gallery__item
					a(href="#").gallery__link
						.gallery__icon.gallery__icon-food
						.gallery__text Food
				li.gallery__item
					a(href="#").gallery__link
						.gallery__icon.gallery__icon-desserts
						.gallery__text Desserts
			ul.gallery-img__list
				li.gallery-img__item.gallery-img__all
					.masonry-container
						.grid-sizer
						img(src="./img/gallery/gallery-restaurant-item1.jpg").gallery-img__img.gallery-img__width3.gallery-img__height3
						img(src="./img/gallery/gallery-restaurant-item2.jpg").gallery-img__img.gallery-img__width1.gallery-img__height3
						img(src="./img/gallery/gallery-restaurant-item3.jpg").gallery-img__img.gallery-img__width2.gallery-img__height1
						img(src="./img/gallery/gallery-restaurant-item4.jpg").gallery-img__img.gallery-img__width2.gallery-img__height1
						img(src="./img/gallery/gallery-food-item5.jpg").gallery-img__img.gallery-img__width4.gallery-img__height2
						img(src="./img/gallery/gallery-food-item6.jpg").gallery-img__img.gallery-img__width2.gallery-img__height2
						img(src="./img/gallery/gallery-dessert-item8.jpg").gallery-img__img.gallery-img__width2.gallery-img__height1
						img(src="./img/gallery/gallery-dessert-item9.jpg").gallery-img__img.gallery-img__width1.gallery-img__height3
						img(src="./img/gallery/gallery-dessert-item10.jpg").gallery-img__img.gallery-img__width3.gallery-img__height3
						img(src="./img/gallery/gallery-dessert-item7.jpg").gallery-img__img.gallery-img__width2.gallery-img__height1
				li.gallery-img__item.gallery-img__restaurant
					.masonry-container
						.grid-sizer
						img(src="./img/gallery/gallery-restaurant-item1.jpg").gallery-img__img.gallery-img__width3.gallery-img__height3
						img(src="./img/gallery/gallery-restaurant-item2.jpg").gallery-img__img.gallery-img__width1.gallery-img__height3
						img(src="./img/gallery/gallery-restaurant-item3.jpg").gallery-img__img.gallery-img__width2.gallery-img__height1
						img(src="./img/gallery/gallery-restaurant-item4.jpg").gallery-img__img.gallery-img__width2.gallery-img__height1
				li.gallery-img__item.gallery-img__food
					.masonry-container
						.grid-sizer
						img(src="./img/gallery/gallery-food-item5.jpg").gallery-img__img.gallery-img__width4.gallery-img__height2
						img(src="./img/gallery/gallery-food-item6.jpg").gallery-img__img.gallery-img__width2.gallery-img__height2
				li.gallery-img__item.gallery-img__dessert
					.masonry-container
						.grid-sizer
						img(src="./img/gallery/gallery-dessert-item7.jpg").gallery-img__img.gallery-img__width2.gallery-img__height1
						img(src="./img/gallery/gallery-dessert-item8.jpg").gallery-img__img.gallery-img__width2.gallery-img__height1
						img(src="./img/gallery/gallery-dessert-item9.jpg").gallery-img__img.gallery-img__width1.gallery-img__height3
						img(src="./img/gallery/gallery-dessert-item10.jpg").gallery-img__img.gallery-img__width3.gallery-img__height3