.gallery-wrapper
	img(src="./img/gallery/gallery-left.jpg").gallery-wrapper__img
	.container
		.gallery
			h2.medium-title.gallery__title Our Gallery
			ul.gallery__list
				li.gallery__item
					a(href="#").gallery__link
						img(src="./img/gallery/icon-all-orange.png").gallery__icon
						.gallery__text All photos
				li.gallery__item
					a(href="#").gallery__link
						img(src="./img/gallery/icon-restaurant-orange.png").gallery__icon
						.gallery__text Restaurant
				li.gallery__item
					a(href="#").gallery__link
						img(src="./img/gallery/icon-food-orange.png").gallery__icon
						.gallery__text Food
				li.gallery__item
					a(href="#").gallery__link
						img(src="./img/gallery/icon-desserts-orange.png").gallery__icon
						.gallery__text Desserts
			ul.gallery-img__list
				li.gallery-img__item.gallery-img__all
				li.gallery-img__item.gallery-img__restaurant
				li.gallery-img__item.gallery-img__food
				li.gallery-img__item.gallery-img__desserts