h2.medium-title.gallery__title Our Gallery
ul.gallery__list
	li.gallery__item
		a(href="#").gallery__link
			.gallery__icon.gallery__icon-all
			.gallery__text.gallery__text_active All photos
	li.gallery__item
		a(href="#").gallery__link
			.gallery__icon.gallery__icon-restaurant
			.gallery__text Restaurant
	li.gallery__item
		a(href="#").gallery__link
			.gallery__icon.gallery__icon-food
			.gallery__text Food
	li.gallery__item
		a(href="#").gallery__link
			.gallery__icon.gallery__icon-desserts
			.gallery__text Desserts