.description {
	&-wrapper {
		padding: 88px 0px 84px;
		background-color: #edf1f3;
		@include laptops {
			padding: 70px 0px;
		}
		@include tablets {
			padding: 50px 0px;
		}
		@include phones {
			padding: 30px 0px;
		}
	}
	&__list {
		@extend %list;
	}
	&__item {
		color: $black;
		margin-bottom: 14px;
		letter-spacing: 0.125px;
		font-weight: bold;
		@include tablets {
			font-size: 13px;
		}
		@include phones {
			font-size: 12.5px;
			line-height: 1.8;
			margin-bottom: 10px;
		}
	}
	&__titles {
		font-size: 24px;
		font-family: "Playfair Display";
		display: flex;
		margin-bottom: 33px;
		@include tablets {
			margin-bottom: 25px;
		}
	}
	&__title {
		&-main {
			margin-right: 43px;
			color: #fe4c8d;
			font-size: 24px;
			@include tablets {
				font-size: 22px;
			}
			@include phones {
				font-size: 20px;
			}
		}
		&_black {
			color: $black;
			font-size: 24px;
			@include tablets {
				font-size: 22px;
			}
			@include phones {
				font-size: 20px;
			}
		}
	}
	&__text {
		font-weight: normal;
		line-height: 1.857;
		margin-bottom: 33px;
		width: 92%;
		@include tablets {
			margin-bottom: 25px;
			font-size: 13px;
		}
		@include phones {
			font-size: 12.5px;
			width: 100%;
		}
	}
}

