.homepage-banner
	ul.homepage-banner__list
		+homepage-banner("Teast your fav dish", "first")
		+homepage-banner("Lorem Ipsum 2", "second")
		+homepage-banner("Lorem Ipsum 3", "third")
.banner-under
	.container
		.banner-under__wrapper
			.banner-explore
				img(src="./img/home-page/explore.png").banner-explore__img
				.banner-explore__circle
					img(src="./img/home-page/icon-food.png").banner-explore__icon
				.banner-explore__text Explore food Menu
			.banner-reviews
				img(src="./img/home-page/icon-reviews.png").banner-reviews__icon
				h2.banner-under__title Read
					.banner-under__title_orange Reviews
				a(href="#about").banner-reviews__circle
					.banner-reviews__circle-second
						i.fa.fa-angle-right.banner-reviews__angle-icon
			.banner-phone
				img(src="./img/home-page/icon-phone.png").banner-phone__icon
				h2.banner-under__title Call us now for
					.banner-under__title_orange Home Delivery
				a(href="tel:+380634567890" target="_blank").home-page__phone.banner-phone__phone 1-008 005 006