.menu-wrapper
	.menu-wrapper__img-wrapper
		img(src="./img/home-page/menu-left.jpg").menu-wrapper__img-left
	+menu-block("Food Menu")
	.menu-wrapper__img-wrapper
		img(src="./img/home-page/bottom-menu.jpg").menu-wrapper__img-right