.home-menu
	.home-menu__img-wrapper
		img(src="./img/home-page/menu-left.jpg").home-menu__img-left
	+menu-block("Food Menu")
	.home-menu__img-wrapper
		img(src="./img/home-page/bottom-menu.jpg").home-menu__img-right