mixin banner(title, itemClass)
	li(class=`banner__item banner__item-${itemClass}`)
		.banner__background
		.container
			h1.main-title.banner__main-title #{title}
				.medium-title.medium-title_white.banner__under-title from
					span.medium-title_orange.banner__under-title_left luxury restaurent.
