.cook-wrapper
	.cook
		.container.container_without-padding
			h2.medium-title.cook__title Our Cooks
			.cook-slider
				ul.cook-slider__list
					+cook("./img/about-us/cooks-item1.jpg", "Cheff. John Cliff")
					+cook("./img/about-us/cooks-item2.jpg", "Cheff. Peter Vasko")
					+cook("./img/about-us/cooks-item3.jpg", "Cheff. Mariya Thomas")
					+cook("./img/about-us/cooks-item4.jpg", "Cheff. James Dico")
					+cook("./img/about-us/cooks-item5.jpg", "Cheff. Denzell Tokio")
					+cook("./img/about-us/cooks-item6.jpg", "Cheff. Donald Duck")
					+cook("./img/about-us/cooks-item7.jpg", "Cheff. Duck Donald")
					+cook("./img/about-us/cooks-item8.jpg", "Cheff. James Dico")
					+cook("./img/about-us/cooks-item9.jpg", "Cheff. John Cliff")
					+cook("https://picsum.photos/270/263?image=0", "Cheff. Ipsum Dolar")
					+cook("./img/about-us/cooks-item11.jpg", "Cheff. Mariya Thomas")
					+cook("./img/about-us/cooks-item12.jpg", "Cheff. Cheff. Lorem Ipsum")
