.hours-wrapper
	.container
		.hours
			h2.medium-title.hours__title Opening Hours
			.hours__text
				.hours__text-top Monday to Friday
				.hours__text-bottom 10am - 10pm
			.hours__text
				.hours__text-top Saturday to Sunday
				.hours__text-bottom 09am - 11pm
