.clients {
	padding-top: 90px;
	padding-bottom: 96px;
	position: relative;
	@include tablets {
		padding-top: 70px;
		padding-bottom: 70px;
	}
	@include phones {
		padding-bottom: 50px;
		padding-top: 50px;
	}
	&-wrapper {
		background: url("./img/home-page/clients-background.jpg") repeat;
	}
	&__title {
		text-align: center;
		margin-bottom: 16px;
		&-user {
			font-size: 16px;
			color: #fffaf1;
			text-transform: uppercase;
			text-align: center;
			margin-bottom: 2px;
		}
	}
	&__star {
		margin: 0 auto;
	}
	&__slider {
		display: flex;
		justify-content: center;
	}
	&__list {
		display: flex;
		justify-content: center;
	}
	&__item {
		display: flex;
		justify-content: center;
		position: relative;
	}
	&__text {
		font-size: 15px;
		color: #fff;
		line-height: 1.733;
		text-align: center;
		width: 66%;
		margin: 0 auto;
		margin-bottom: 23px;
		@include tablets {
			width: 80%;
		}
	}
	&__quote {
		position: absolute;
		&-left {
			left: 12.3%;
			margin-top: -5px;
			@include tablets {
				left: 5%;
			}
			@include phones {
				left: 2%;
			}
		}
		&-right {
			right: 12.6%;
			top: 31%;
			@include tablets {
				right: 6.5%;
				top: 50%;
			}
			@include phones {
				top: 60%;
				right: 1.5%;
			}
		}
	}
	&__arrow {
		position: absolute;
		top: 35%;
		width: 30px;
		height: 30px;
		border: 2px solid #ffece9;
		border-top-color: transparent;
		border-left-color: transparent;
		margin: auto;
		z-index: 12;
		&-right {
			right: 11px;
			transform: rotate(315deg);
			&:hover, &:focus {
				border-bottom-color: $orange;
				border-right-color: $orange;
			}
			@include phones {
				right: 5px;
			}
		}
		&-left {
			left: 3px;
			transform: rotate(135deg);
			&:hover, &:focus {
				border-bottom-color: $orange;
				border-right-color: $orange;
			}
		}
	}
	&__avatar {
		margin-left: 6px;
		@include laptops {
			margin-left: 0px;
		}
		&-wrapper {
			display: flex;
			justify-content: center;
			margin-bottom: 4px;
			width: 77px;
			height: 77px;
			border-radius: 50%;
			border: 3px solid #fff;
			overflow: hidden;
			margin: 0 auto 4px;
		}
	}
}