mixin menu-block(title, padding)
	.menu-wrapper
	div(class=`menu-wrapper menu-wrapper_${padding}`)
		.container
			.menu
				h2.medium-title.menu__title #{title}
				ul.menu__list
					li.menu__item.menu__item-all
						a(href="").menu__link
							.menu__icon.menu__all
							.menu__link-text All
					li.menu__item.menu__item-breakfast
						a(href="").menu__link
							.menu__icon.menu__breakfast
							.menu__link-text Breakfast
					li.menu__item.menu__item-lunch
						a(href="").menu__link
							.menu__icon.menu__lunch
							.menu__link-text Lunch
					li.menu__item.menu__item-snacks
						a(href="").menu__link
							.menu__icon.menu__snacks
							.menu__link-text Snacks
					li.menu__item.menu__item-pizza
						a(href="").menu__link
							.menu__icon.menu__pizza
							.menu__link-text Pizza
					li.menu__item.menu__item-soups
						a(href="").menu__link
							.menu__icon.menu__soups
							.menu__link-text Soups
					li.menu__item.menu__item-dinner
						a(href="").menu__link
							.menu__icon.menu__dinner
							.menu__link-text Dinner
				ul.menu-items__list
					+menu('Ultimate organic fruit salad','survived not only five centuries but the leap','50.00')
					+menu('Ultimate organic fruit salad','survived not only five centuries but the leap','50.00')
					+menu('Plain pancakes','Donec eget augue at diam euismod viverra','68.00')
					+menu('Plain pancakes','Donec eget augue at diam euismod viverra','68.00')
					+menu('Toasted jam','Phasellus a ex accumsan, sollicitudin','22.00')
					+menu('Toasted jam','Phasellus a ex accumsan, sollicitudin','22.00')
					+menu('Toasted jam','Phasellus a ex accumsan, sollicitudin','322.00')
					+menu('Toasted jam','Phasellus a ex accumsan, sollicitudin','1002.00')
				ul.menu-items__list
					+menu('Ultimate organic fruit salad','survived not only five centuries but the leap','50.00')
					+menu('Toasted jam','Phasellus a ex accumsan, sollicitudin','22.00')
					+menu('Toasted jam','Phasellus a ex accumsan, sollicitudin','322.00')
				ul.menu-items__list
					+menu('Plain pancakes','Donec eget augue at diam euismod viverra','68.00')
					+menu('Plain pancakes','Donec eget augue at diam euismod viverra','68.00')
					+menu('Toasted jam','Phasellus a ex accumsan, sollicitudin','22.00')
				ul.menu-items__list
					+menu('Toasted jam','Phasellus a ex accumsan, sollicitudin','22.00')
					+menu('Toasted jam','Phasellus a ex accumsan, sollicitudin','22.00')
				ul.menu-items__list
					+menu('Toasted jam','Phasellus a ex accumsan, sollicitudin','322.00')
					+menu('Toasted jam','Phasellus a ex accumsan, sollicitudin','1002.00')
					+menu('Toasted jam','Phasellus a ex accumsan, sollicitudin','22.00')
					+menu('Toasted jam','Phasellus a ex accumsan, sollicitudin','22.00')
				ul.menu-items__list
					+menu('Ultimate organic fruit salad','survived not only five centuries but the leap','50.00')
					+menu('Plain pancakes','Donec eget augue at diam euismod viverra','68.00')
					+menu('Toasted jam','Phasellus a ex accumsan, sollicitudin','22.00')
					+menu('Toasted jam','Phasellus a ex accumsan, sollicitudin','22.00')
					+menu('Toasted jam','Phasellus a ex accumsan, sollicitudin','22.00')
				ul.menu-items__list
					+menu('Toasted jam','Phasellus a ex accumsan, sollicitudin','1002.00')
					+menu('Toasted jam','Phasellus a ex accumsan, sollicitudin','22.00')
					+menu('Toasted jam','Phasellus a ex accumsan, sollicitudin','22.00')
					+menu('Toasted jam','Phasellus a ex accumsan, sollicitudin','22.00')
				button.menu__button Explore food Menu