extends ../templates/common.pug
include ../mixins/about-us/cook.pug
block variables
	- var title = "about-us";
block inner
	+banner("About Us", "about")
	include ../blocks/about-us/history.pug
	include ../blocks/about-us/cook.pug
	include ../blocks/speciality.pug
	include ../blocks/hours.pug