extends ../templates/common.pug
block variables
	- var title = "About us";
block inner
	include ../blocks/About Us/banner.pug
	include ../blocks/About Us/history.pug
	include ../blocks/About Us/cook.pug
	include ../blocks/About Us/speciality.pug
	include ../blocks/About Us/hours.pug