extends ../templates/common.pug
include ../mixins/banner.pug
block variables
	- var title = "Checkout";
block inner
	+banner("Check Out", "checkout")
	include ../blocks/checkout/instant.pug
	include ../blocks/checkout/account.pug