extends ../templates/common.pug
include ../mixins/HomePage/banner.pug
include ../mixins/HomePage/special.pug
block variables
	- var title = "Home page";
block inner
	include ../blocks/HomePage/banner.pug
	include ../blocks/HomePage/about.pug
	include ../blocks/HomePage/special.pug