extends ../templates/common.pug
include ../mixins/home-page/banner.pug
include ../mixins/home-page/special.pug
include ../mixins/home-page/menu.pug
include ../mixins/home-page/clients.pug
include ../mixins/menu-block.pug
block variables
	- var title = "Home page";
block inner
	include ../blocks/home-page/banner.pug
	include ../blocks/home-page/about.pug
	include ../blocks/home-page/special.pug
	include ../blocks/home-page/menu.pug
	include ../blocks/home-page/clients.pug
	include ../blocks/home-page/reserve.pug