extends ../templates/common.pug
include ../mixins/banner.pug
include ../mixins/hours.pug
block variables
	- var title = "reservation";
block inner
	+banner("Reservation", "reservation")
	include ../blocks/reservation/book-a-table.pug
	include ../blocks/reservation/special-reservation.pug
	+hours("")