extends ../templates/common.pug
include ../mixins/banner.pug
include ../mixins/product.pug
block variables
	- var title = "Shop-details";
block inner
	+banner("Shop Details", "details")
	include ../blocks/shop-details/product.pug
	include ../blocks/shop-details/description.pug
	include ../blocks/shop-details/related.pug