extends ../templates/common.pug
include ../mixins/banner.pug
include ../mixins/product.pug
block variables
	- var title = "Our products";
block inner
	+banner("Shop Listing", "shop")
	include ../blocks/shop/product.pug