.special
	.special-background
	.container
		h2.medium-title.special__main-title Today Special
		ul.special__list
			+special('Food Name one', 'Food Name two',
			'./img/HomePage/special-item3.jpg', './img/HomePage/special-item4.jpg',
			`printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.`,
			`printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.`,
			'1-008 005 006', '1-008 005 006', '89.00', '99.00')
			+special('Food Name three', 'Food Name four',
			'./img/HomePage/special-item1.jpg', './img/HomePage/special-item2.jpg',
			`printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.`,
			`printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.`,
			'1-008 005 006', '1-008 005 006', '322.00', '666.00')
			+special('Food Name five', 'Food Name six',
			'./img/HomePage/special-item5.jpg', './img/HomePage/special-item6.jpg',
			`printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.`,
			`printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.`,
				'1-008 005 006', '1-008 005 006', '545.00', '1000.00')
		//- .special-under
		//- 	img(src="./img/HomePage/under-special.jpg").special-under__img
