.background {
	position: relative;
	&__background {
		padding: 86px 0px;
		display: block;
		width: 100%;
		@include tablets {
			padding: 60px 0px;
		}
		@include phones {
			padding: 40px 0px;
		}
	}
	&__main{
		&-title {
			text-align: center;
			max-width: 100%;
			margin: 0 auto;
			&:before, &:after {
				content: "";
				display: inline-block;
				vertical-align: middle;
				height: 31px;
				width: 41px;
			}
			&:before {
				background: url("./img/background/left-leaf.png") no-repeat;
				margin-right: 10px;
			}
			&:after {
				background: url("./img/background/right-leaf.png") no-repeat;
				margin-left: 10px;
			}
		}
	}
}

.about {
	&-background {
		&__background {
			background: url("./img/background/about-background.jpg");
			background-size: cover;
		}
	}
}

.menu {
	&-background {
		&__background {
			background: url("./img/background/menu-background.jpg");
			background-size: cover;
		}
	}
}

.shop {
	&-background {
		&__background {
			background: url("./img/background/shop-background.jpg");
			background-size: cover;
		}
	}
}

.reservation {
	&-background {
		&__background {
			background: url("./img/background/reservation-background.jpg");
			background-size: cover;
		}
	}
}

.details {
	&-background {
		&__background {
			background: url("./img/background/details-background.jpg");
			background-size: cover;
		}
	}
}

.checkout {
	&-background {
		&__background {
			background: url("./img/background/checkout-background.jpg");
			background-size: cover;
		}
	}
}

.contact {
	&-background {
		&__background {
			background: url("./img/background/contact-background.jpg");
			background-size: cover;
		}
	}
}

.gallery {
	&-background {
		&__background {
			background: url("./img/background/gallery-background.jpg");
			background-size: cover;
		}
	}
}

