.reservation-wrapper
	.container
		.reservation
			h2.medium-title.reservation__title Special Reservations
			ul.reservation__list
				li.reservation__item
					.reservation-top
						img(src="./img/reserve/special-item1.jpg").reservation-top__img
					.reservation-bottom
						h3.reservation-bottom__title Private Dinning
						.reservation-bottom__text Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
				li.reservation__item
					.contact-background
						.contact
							.contact-top
								.contact__icon-wrapper
									img(src="./img/reserve/icon-phone.png").contact__icon
								a(href="tel:+380634567890").contact__link 1-007 000 005
								.contact__text Call us for a Special reservation
							.contact-bottom
								.contact__icon-wrapper
									img(src="./img/reserve/icon-email.png").contact__icon
								a(href="mailto:info@barista.gmail.com").contact__link info@luxury.com
								.contact__text Mail us for a Special reservation
				li.reservation__item
					.reservation-top
						img(src="./img/reserve/special-item3.jpg").reservation-top__img
					.reservation-bottom
						h3.reservation-bottom__title Couple Dinning
						.reservation-bottom__text Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took