.about {
	padding-top: 110px;
	padding-bottom: 89px;
	@extend %clearfix;
	&-left {
		width: 50%;
		float: left;
		&__title {
			margin-bottom: 25px;
		}
		&__text {
			color: #5c6369;
			line-height: 1.857;
			margin-bottom: 35px;
			width: 94%;
		}
		&__button {
			margin-right: 49px;
			&-wrapper {
				display: flex;
				align-items: center;
			}
		}
		&__near-button {
			display: block;
		}
	}
	&-right {
		width: 50%;
		float: left;
		display: flex;
		padding-left: 36px;
		&__right {
			&-images {
				margin-top: -45px;
			}
		}
		&__left {
			&-images {
				width: 270px;
				margin-right: 10px;
				margin-top: 5px;
			}
		}
		&__img {
			display: block;
			margin-bottom: 10px;
		}
	}
}