.banner {
	&__list {
		@extend %list;
	}
	&__main-title {
		font-size: 56px;
		line-height: 1;
		position: absolute;
		top: 50%;
		margin-top: -60px;
	}
	&__item {
		background: url("./img/HomePage/banner-first-slide.jpg") no-repeat;
		background-size: contain;
		width: 100%;
		height: 570px;
		position: relative;
		margin-bottom: -5px;
		&-first {
			background: url("./img/HomePage/banner-first-slide.jpg") no-repeat;
		}
		&-second {
			background: url("./img/HomePage/banner-second-slide.jpg") no-repeat;
		}
		&-third {
			background: url("./img/HomePage/banner-third-slide.jpg") no-repeat;
		}
	}
	&__under {
		&-title {
			font-size: 40px;
			letter-spacing: 1.3px;
			&_left {
				margin-left: 11px;
			}
		}
	}
	&-under {
		background-color: #edf1f3;
		border-bottom: 1px solid $banner-b;
		padding: 23px 0 21px;
		&__wrapper {
			display: flex;
		}
		&__title {
			color: $black;
			text-transform: uppercase;
			line-height: 1.429;
			margin-right: 19px;
			font-size: 14px;
			letter-spacing: 0px;
			&_orange {
				color: $orange;
				font-size: 16px;
			}
		}
	}
	&-explore {
		position: relative;
		margin-top: -145px;
		margin-right: 259px;
		&__img {
			display: block;
		}
		&__icon {
			height: 54px;
		}
		&__circle {
			position: absolute;
			border: 3px solid $pink;
			border-radius: 50%;
			background-color: #0b0b13;
			width: 77px;
			height: 77px;
			left: 50%;
			top: -15%;
			margin-left: -38.5px;
			display: flex;
			justify-content: center;
			align-items: flex-end;
		}
		&__text {
			font-size: 22px;
			color: #fff;
			text-align: center;
			width: 120px;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -60px;
			line-height: 1.2;
			margin-top: -31px;
			font-family: "PlayfairDisplay";
		}
	}
	&-reviews {
		display: flex;
		align-items: center;
		position: relative;
		margin-right: 74px;
		&:after {
			content: "";
			position: absolute;
			right: -36px;
			height: 89px;
			background-color: $banner-b;
			width: 1px;
		}
		&__icon {
			margin-right: 12px;
		}
		&__circle {
			border-radius: 50%;
			background-color: $orange;
			width: 45px;
			height: 45px;
			position: relative;
			&:hover {
				background-color: $pink;
			}
		}
		&__angle-icon {
			position: absolute;
			top: 13%;
			left: 9%;
			color: #14141d;
			font-size: 12px;
			font-size: 20px;
			border: 1px solid #fff;
			border-radius: 50%;
			padding: 6px 14px;
		}
	}
	&-phone {
		display: flex;
		align-items: center;
		&__icon {
			margin-right: 21px;
		}
		&__phone {
			border-left: 1px solid $banner-b;
			margin-left: 3px;
			position: relative;
			padding-left: 19px;
			letter-spacing: 1.6px;
		}
	}
}

.HomePage-banner-dots {
	position: absolute;
	bottom: -50px;
	display: block;
	width: 0%;
	padding: 0;
	list-style: none;
	text-align: center;
	margin-left: 5px;
	left: -94px;
	top: 27.4%;
}

.HomePage-banner-dots li {
	position: relative;
	display: inline-block;
	width: 25px;
	height: 18px;
	padding: 0;
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.HomePage-banner-dots li button {
	font-size: 0;
	line-height: 0;
	display: block;
	width: 20px;
	height: 20px;
	padding: 5px;
	cursor: pointer;
	color: transparent;
	border: 0;
	outline: none;
	background: transparent;
}

.HomePage-banner-dots li button:hover,
.HomePage-banner-dots li button:focus {
	outline: none;
}

.HomePage-banner-dots li button:hover:before,
.HomePage-banner-dots li button:focus:before {
	opacity: 1;
}
.slick-dotted.slick-slider {
	margin-bottom: 0px;
}

.HomePage-banner-dots li button:before {
	font-family: 'slick';
	font-size: 6px;
	line-height: 20px;
	position: absolute;
	top: 100px;
	left: 100px;
	width: 14px;
	height: 14px;
	content: '•';
	border-radius: 50%;
	background-color: transparent;
	border: 2px solid #fff;
	text-align: center;
	opacity: 1;
	color: black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.HomePage-banner-dots li.slick-active button:before {
	opacity: 1;
	background-color: transparent;
	color: black;
	border-color: $orange;
}