.reserve {
	padding-top: 87.5px;
	padding-bottom: 95px;
	@extend %clearfix;
	&-wrapper {
		background-color: #edf1f3;
	}
	&__title {
		text-align: center;
		margin-bottom: 26px;
	}
	&-left {
		width: 50%;
		float: left;
		margin-right: 14px;
	}
	&-right {
		width: calc(50% - 14px);
		float: left;
	}
	&-form {
		display: flex;
		flex-wrap: wrap;
		padding: 21px 0px 0px;
		&__input {
			width: 270px;
			padding-bottom: 11px;
			padding-top: 11px;
			border: none;
			background-color: transparent;
			border-bottom: 1px solid #c7d1d6;
			margin-bottom: 23px;
			&:hover, &:focus {
				border-color: transparent;
				border-bottom-color: #000;
				color: #000;
			}
			&-wrapper {
				position: relative;
				margin-right: 30px;
				&:nth-child(2n) {
					margin-right: 0px;
				}
			}
		}
		&__icon {
			position: absolute;
			right: 0;
			top: 10px;
		}
		&__submit {
			padding: 17px 28px;
		}
	}
	&-info {
		display: flex;
		margin-top: 24px;
		align-items: center;
		justify-content: space-between;
		&__title {
			font-size: 13px;
			margin-left: 42px;
		}
		&__phone {
		    letter-spacing: 1.5px;
		    margin-left: 12px;
		    font-size: 26px;
		}
	}
}

.reserve-form__input::placeholder {
	color: #363d43;
    font-weight: normal;
	letter-spacing: 0.3px
}

