.account {
	&-wrapper {
		background-color: #edf1f3;
		padding-top: 85px;
		padding-bottom: 96px;
	}
	&__title {
		text-align: center;
		margin-bottom: 15px;
	}
	&__text {
		font-size: 14px;
		line-height: 1.857;
		text-align: center;
		width: 43%;
		margin: 0 auto 35px;
	}
	&-form {
		display: flex;
		justify-content: center;
		&__input {
			border: 1px solid #dde4e8;
			border-radius: 5px;
			width: 438px;
			margin-right: 6px;
			padding-left: 25px;
			&::placeholder {
				font-family: "Sintony";
				color: #51575c;
				letter-spacing: 0.5px;
			}
			&:hover, &:focus {
				border-color: $black;
			}
		}
	}
}

